@import "tailwindcss";

@layer utilities {
  .container {
    @apply mx-auto max-w-[1232px] px-4;
  }
}
@theme {
  --default-font-family: "Plus Jakarta Sans", sans-serif;
  --text-6xl: 64px;
  --text-3xl: 28px;
  --width-48: 48%;
  --tracking-2: -0.1px;
}
